.box {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.box h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 26px;
}

.edit-box {
    background-color: rgb(253, 252, 252);
    border-radius: 8px;
}

.empty-editor {
    text-align: center;
    padding-top: 80px;
}

.empty-editor h2 {
    margin-bottom: 10px;
}

.empty-editor p {
    color: rgb(100, 100, 100);
}